a {
	font-family: PTSerif-Regular;
	font-size: 19px;
	color: #000000;
	line-height: 30px;
}

h4 {
	font-family: SourceSansPro-Bold, "Helvetica", "Arial", sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}

h2 {
	font-family: SourceSansPro-Bold, "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #4A4A4A;
	line-height: 50px;
}

#top-header {
	background: transparent;
    padding: 16px 0 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    transition: background 460ms ease-out;
    -webkit-transition: background 460ms ease-out;
    -moz-transition: background 460ms ease-out;
    -o-transition: background 460ms ease-out;
    -ms-transition: background 460ms ease-out;
}

#top-header nav {
	float:right;
}

#top-header nav ul {
	list-style: none;
}

#top-header nav ul li {
	float: left;
	margin-right: 40px;
}

#top-header nav ul li a{
	font-family: SourceSansPro-Semibold;
	font-size: 20px;
	color: #D1D1D1;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none; 
	position: relative;
}

#title-banner {
	background-color: #F8EFEA;
	position: relative; 
	padding: 5rem 0;
	max-height: 90%;
}