a {
	font-family: PTSerif-Regular;
	font-size: 19px;
	color: #000000;
	line-height: 30px;
}

h4 {
	font-family: SourceSansPro-Bold, "Helvetica", "Arial", sans-serif;
	font-size: 19px;
	color: #000000;
	line-height: 30px;
}

h2 {
	font-family: SourceSansPro-Bold, "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #4A4A4A;
	line-height: 50px;
}

#top-header {
	background: #F8EFEA; 
    padding: 16px 0 15px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

.fixed-position {
	 position: fixed;
}

.slide-down {
	position: relative; 
	background-color: #F8EFEA; 
}

#top-header nav ul {
	list-style: none;
}

#menu-normal{
	float:right;
}

#menu-normal li {
	float: left;
	margin-right: 40px;
}


@media (max-width: 840px) {
	#menu-normal li  {
	    display: none;
	}	
}


#top-header nav ul li a{
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #D1D1D1;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none; 
	position: relative;
}

#menu-toggle {
	font-family: 'Source Sans Pro';
	font-weight: 500;
	font-size: 20px;
	color: #000000;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none; 
	position: relative;
	display: none;
	text-align: center; 
	margin-right: 40px; 
	float: middle;
}

@media (max-width: 840px) {
	#menu-toggle {
	    display: block;
	}	
}

#menu-toggle ul {
	display: none;
	list-style: none; 
	padding: 0;
	margin: 1em 0 0 0;
}

#menu-toggle ul.nav-open {
	display: block;
}

#title-banner {
	background-color: #F8EFEA;
	position: relative; 
	padding: 5rem 0;
	max-height: 90%;
}