/* General */ 

a {
	font-family: 'PT Serif';
	font-weight: 400;
	font-size: 19px;
	color: #000000;
	line-height: 30px;

}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h4 {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #000000;
	line-height: 0px;
	text-align: left;
	text-transform: uppercase;
}

h2 {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #000000;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

hr {
	width: 100%;
	border-style: none;
}

p {
	font-family: 'PT Serif';
	font-weight: 400;
	font-size: 19px;
	color: #000000;
	line-height: 36px;
}

body {
	background-color: #FCFBFA;
}


/* the overall top navigation bar */ 
#top-header {
	/* background: #F8EFEA; */
    padding: 6px 0 6px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}


#top-header nav ul li a, #top-header nav ul li, #menu-toggle a {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #979797;
	line-height: 23px;
	text-transform: uppercase;
	text-decoration: none; 
	list-style: none;
	position: relative;
}

.fixed-position {
	 position: fixed;
}



/* The minimized toggle menu */ 
#menu-toggle {
	display: none;
	text-align: center; 
	margin-top: 8px;
	float: middle;
}

@media (max-width: 768px) {
	#menu-toggle {
	    display: block;
	}	
}

#menu-toggle ul {
	display: none;
	list-style: none; 
	padding: 0;
	margin: 1em 0 0 0;
}

#menu-toggle ul.nav-open {
	display: block;
}

#menu-toggle a {
	color: #000000;
}

.slide-down {
	position: relative; 
	/* background-color: #F8EFEA; */
}


/* The normal menu */ 
#menu-normal{
	float:right;
}

#menu-normal li {
	float: left;
	margin-right: 40px;
}


@media (max-width: 768px) {
	#menu-normal {
	    display: none;
	}	
}


/* Design of the Banner */ 

.title-banner {
	background-color: #F8EFEA;
	position: relative; 
	padding: 5rem 4rem 12rem 4rem;
	max-height: 90%;
}

.background-lg-text {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 202px;
	font-size: 15vw; 
	color: #FFCCC9;
	line-height: 1em;
	text-align: right;
	text-transform: uppercase;
	position: relative;
}

.tagline {
	font-family: 'Playfair Display', 'Georgia', serif;
	font-weight: 500;
	font-size: 60px;
	font-size: 4.5vw;
	color: #000000;
	line-height: 85px;
	line-height: 1.5em;
}



.tagline-box {
	width: 380px;
	width: 30vw;
	margin-left: auto; 
	margin-right: auto; 
	border: 5px solid #000000;
	padding: 40px 50px 50px 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 120px;
}

@media (max-width: 768px) {
	.tagline {
	    font-size: 35px;
	    line-height: 52px;
	}	
	.title-banner {
		padding:100px 20px 400px 20px;
	}
	.tagline-box {
		width: 230px;
		top: 250px;
	}
}

@media (max-width: 460px) {
	.background-lg-text {
		text-align: center;
	}
}

/* Getting the cards and grids right */ 
.large-container {
	width: 90%;
	margin: 60px auto; 
}

.portfolio-container {
	overflow: auto;
}

.card-container {
	width: 100%; 
	height: 100%;
	border-radius: 0px;
	margin-bottom: 20px;
	text-decoration: none;
}

.portfolio-container .card-container {
	padding: 0;
}

.card-container img {
	width: 100%; 
	height: auto;
}

.card-subtitle {
	font-family: 'PT Serif', Georgia, Times, serif;
	font-weight: 400;
	font-size: 20px;
	color: #baaab0;
	padding: 12px 0px;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.zoom-effect img {
	display: block; 
	width: 100%; 
	height: auto;
	transition: all 0.5s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.1);
}

.zoom-effect:hover img {
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-ms-transform: scale(1.02);
}

/* Portfolio Description Pages */ 
section {
	display: block;
	text-align: center;
	margin: 120px auto 20px auto; 
}

section p {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 30px;
}

#portfolio-top-header {
    padding: 6px 0 6px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

#portfolio-top-header nav ul li a, #portfolio-top-header nav ul li, #menu-toggle a {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	text-decoration: none; 
	list-style: none;
	position: relative;
}

.static-nav {
	transition: all 0.4s ease;
}

.static-nav nav ul li a, .static-nav nav ul li, #menu-toggle a{
	color: #000000;
}

.scroll-nav {
	background: rgba(255, 255, 255, 0.95);
	transition: all 0.4s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.10), 0 1px 2px rgba(0,0,0,.25);
}

.scroll-nav, .scroll-nav nav ul li a, .scroll-nav nav ul li {
	color: #000000;
}

.portfolio-banner {
	position: relative; 
	padding: 8rem 6rem 0rem 6rem;
	max-height: 50%;
}

.portfolio-banner-small-padding {
	padding-top: 2rem;
}

.portfolio-title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 90px;
	line-height: 1em;
	text-align: left;
	text-transform: uppercase;
	position: relative;
}

.portfolio-subtitle {
	font-family: PlayfairDisplay-Regular, Georgia, Times, serif;
	font-size: 40px;
	line-height: 2em;
	text-align: left;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.portfolio-title {
		font-size: 70px;
	}

	.portfolio-subtitle {
		font-size: 30px;
	}
 }

@media screen and (max-width: 800px) {
	.portfolio-title {
		font-size: 50px;
		text-align: center;
	}

	.portfolio-subtitle {
		font-size: 20px;
		text-align: center;
		line-height: 28px;
	}
 }

 @media (max-width: 420px) {
	.portfolio-title {
		font-size: 35px;
		text-align: center;
	}

	.portfolio-subtitle {
		font-size: 20px;
		text-align: center;
		line-height: 28px;
	}
 }

	/* customizing portfolio-subtitle colors */ 
	#kuky-world-color {
		color: #FF4B00;
	}

	#support-color {
		color: #00CCFF;
	}

	#theboola-color {
		color: #3D12D5;
	}

	#sublite-color {
		color: #FFCC00;
	}

	#zara-color {
		color: #FF8580;
	}

	#tuckerman-color {
		color: #5fd504;
	}

	#telp-color {
		color: #00D1EF;
	}

.large-container img {
    width: 100%;
}

.constrained-image {
	margin: 0 auto 60px auto;
	display: block;
	max-width: 800px;
}

.project-description-container {
	width: 100%; 
	margin: 0 auto;
	border-bottom: 1px solid;
	display: block;
	float: left;
	margin: 20px 0; 
	padding: 0px 0 40px 0;
	color: #5A5A5A;
}

.task-container {
	width: 50%;
	float: left;
	margin: 0 3%;
}

.about-container {
	width: 35%;
	float: left;
	margin: 0 3%;
}

@media (max-width: 960px) {
	.task-container {
		width: 90%; 
		text-align: center;
		float: none;
	}

	.about-container {
		width: 90%; 
		text-align: center;
		float: none;
	}

	.task-container h4, .about-container h4 {
		text-align: center;
	}
	
}

.center-case {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.center-case h4 {
	margin-top: 70px;
}

.text-center {
	text-align: center;
}

#form-constraint {
	max-width: 84%;
}


/* resume section */ 

.resume-container {
	width: 85%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 250px;
}

.resume-section-divider {
	border-style: solid;
	border-width: 1px 0 0 0;
	color: #CACACA;
	margin-top: 50px;
	margin-bottom: 30px;
}

.resume-section {
	margin-left: 1%;
}

.resume-section h2 {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 40px; 
	font-weight: 100; 
	font-style: normal;
	color: #56CAD2;
	line-height: 1em; 
	text-transform: none;
	text-align: left;
	margin-bottom: 20px;
}

.resume-description p {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 17px;
	font-weight: 300;
	font-style: normal; 
	line-height: 1.6em;
	margin-bottom: 30px;
}

strong {
	font-weight: 700;
	text-transform: uppercase;
}

/* customizing portfolio-subtitle colors */ 
.photography-large-container {
	width: 100%;
	margin: 70px auto; 
}

.margin-top-0 {
	margin-top: 0;
}

.photography-card-container {
	display: inline-block;
	width:49.5%;
	margin: 0%;
}

@media (max-width: 768px) {
	.photography-card-container {
		display: block;
		width:100%;
	}
}

.photography-card {
	position: relative; 
	width: 100%;
}

.photography-card img {
	width: 100%;
	overflow: hidden;
}

.photography-card-subtitle {
	font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #ffffff;
    position: absolute;
    top: 42%;
    margin: 0 auto;
    width: 95%;
    text-align: center;
}

.filter {
	filter: none;
	-webkit-filter: none;
	transition: all 0.2s ease;
}

/* .filter:hover, photography-card-subtitle:hover, photography-card-subtitle:active {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
    transition: all 0.4s ease;
} */

.darken {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
    transition: all 0.4s ease;
}

#photo-grid {

    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

#photo-grid img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
	#photo-grid {
		-webkit-column-count: 1;
    	-moz-column-count: 1;
    	column-count: 1;
	}
}

/* graphic design page v2 */ 
.graphic-design-large-container {
	width:100%;
	margin: 70px auto; 
	padding: 0; 
}

.graphic-design-column {
	margin: 0;
	padding: 0; 
	float: left;
	display: block;
	width:50%;
}

@media (max-width: 768px) {
	.graphic-design-column {
		width:100%;
	}
}

.graphic-design-column img {
	width: 100%;
    height: auto;
    margin: 0;
    display: block;
    padding: 0;
}




